/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Styling for the login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white; /* Background for the entire page */
}

/* Styling for the header */
.header-text {
    text-align: left; /* Align text to the left */
    font-family: 'Montserrat', sans-serif;
    color: #d32f2f;  /* Red color for header */
    margin-bottom: 40px;
    margin-left: 20px; /* Move the header to the left */
  }  

/* Styling for the login card */
.login-card {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f8f9fa;  /* Light gray background for the card */
}

/* Red and white styling for the login button */
.login-button {
  background-color: #d32f2f;
  color: white;
}

.login-button:hover {
  background-color: #b71c1c;  /* Darker red on hover */
}

/* Styling for the guest login button */
.guest-button {
  border-color: #d32f2f; /* Red border to match theme */
  color: #d32f2f; /* Red text to match theme */
}

.guest-button:hover {
  background-color: #fce4ec; /* Light red background on hover */
}
